NODE_ENV=development
PORT=4002
MONGO_URI=mongodb://127.0.0.1:27017/justtap_service_catalog
JWT_ACCESS_SECRET=e6fff89a2313849544b7a4ebee5708093448ee19b322fb448fc556ef12d6ef7c
AUTH_SERVICE_URL=http://127.0.0.1:4000
AUTH_USER_LOOKUP_REQUIRED=true
AUTH_USER_LOOKUP_TIMEOUT_MS=3000
PROFILE_SERVICE_URL=http://127.0.0.1:4001
PROFILE_LOOKUP_TIMEOUT_MS=3000
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
JSON_BODY_LIMIT=100kb
LOG_LEVEL=info
DEFAULT_ETA_MINUTES_PER_KM=3
